body{background-color: #fafafa;}
#header .center{
	width: 4rem;
	line-height: 100%;
	font-family: "微软雅黑";
	font-size: 16px;
}
/*列表区域*/
#main_list{
	margin: 0 7.5% 0 7.5%;
	overflow: hidden;
}
#main_list ul{
	overflow: hidden;
	margin: 0 auto;
}
#main_list ul li{
	border: 2px solid #dc3232;
	margin-top: 15px;
	width: 47%;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#main_list ul li:nth-child(odd){
	float: left;
}
#main_list ul li:nth-child(even){
	float: right;
}
#main_list li .pho{
	width: 100%;
	height: 3.09rem;
	float: left;
}
#main_list li .font{
	font-family: "微软雅黑";
	font-size: 14px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: rgba(220,50,50,0.63);
	text-align: center;
	color: #fff;
	float: left;
	position: absolute;
	bottom: 0;
}
#main_list li .font .left{
	height: 40px;
	line-height: 40px;
	width: 50%;
	text-align: center;
	font-family: "微软雅黑";
}
#main_list li .font .right{
	width: 50%;
}
#main_list li .font .right  span{
	display: block;
	width: 1.5rem;
	text-align: center;
	line-height: 20px;
	border: 1px solid #fff;
	font-family: "微软雅黑";
	font-size: 12px;
	margin-top: 12%;
    margin-left: 11%;
}
